{
    "version": "2012-02-28",
    "operation": "DeleteItem",
    "key": {
        "NoteId": $util.dynamodb.toDynamoDBJson($ctx.args.NoteId),
        "UserId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    }
}